!!! 5
%html{ lang: 'en'}
  %head
    %title Beta Fish
    = csrf_meta_tags
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    %meta{ 'http-equiv' => 'x-ua-compatible', 'content' => 'ie=edge' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .container.bs-top-nav-padding
      = render partial: 'layouts/menu'
      = yield